<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bzq.matrixmall.mapper.product.ProdCategoryMapper">
    <!-- 通过三级分类ID，取得分类名称（含1，2，3级） -->
    <select id="getCategoryNameListByProductIds" resultType="com.bzq.matrixmall.model.bo.product.ProductCategoryBO">
        SELECT
            ppc.product_id,
            CONCAT(t1.category_name, ' / ', t2.category_name, ' / ', t3.category_name) AS category_name_tree
        FROM
            prod_category t1
                JOIN prod_category t2 ON t1.id = t2.parent_id
                JOIN prod_category t3 ON t2.id = t3.parent_id
                JOIN prod_product_category ppc ON ppc.category_id = t3.id
        WHERE
            ppc.product_id IN
            <foreach collection="productIds" item="productId" open="(" close=")" separator=",">
                #{productId}
            </foreach>
    </select>


</mapper>